* {
    box-sizing: border-box;
    margin: .2rem;
}

a {
    color: black;
}

h3 {
    margin: 5px 0px 10px 0px;
}

p {
    font-weight: bold;
    color: rgb(79, 101, 221);
    
}

.menu {
    display: flex;
    background-color: rgb(79, 101, 221);
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: bold;
}

.menu > a {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.menu > a:hover {
    background-color: white;
    color: rgb(79, 101, 221);
    transition-duration: 200ms;
}

.messages {
    background-color: lightyellow;
}

.success {
    font-size: 1.2rem;
    color: green;
}

.error {
    color: red;
    font-weight: bolder;
}

.questions-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.question-container {
    border: 1px dashed black;
    border-radius: 5px;
    padding: 1rem;
}

.question-author {
    text-decoration: underline;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
}

.question-body {
    margin-bottom: 1.2rem;
}

header {
    position: sticky;
    top: 0;
    margin-bottom: 1rem;
    width: 100vw;
}

footer {
    position: sticky;
    bottom: 0;
    width: 100vw;
    margin-top: 1rem;
}

footer.menu {
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.search-form ul {
    list-style-type: none;
    display: inline-flex;
}

.question-answer-container {
    border: 1px solid black;
}

button:hover {
    background-color: rgb(79, 101, 221);
    color: white;
}

input:hover {
    background-color: rgb(79, 101, 221);
    color: white;
}