{% extends "base.html" %}


{% block content %}

<h3> All Questions </h3>

<div class="questions-container">
    
    {% for question in questions %}
        <div class='question-container'>
            <h4>{{ question.title }} - asked by: {{ question.author }}</h4>
            <p class='question-body'>{{ question.body }}</p>
            <p>
                <a href="{% url 'questions_detail' pk=question.pk %}">More information</a>
                
                <button onclick="sendFavorite(this, '{% url 'add_favorite' pk=question.pk %}')">{{ question.numfavorites }} favorites</button>                
      
            </p>
        </div>

    {% endfor %}

</div>
{% endblock %}