{% extends "base.html" %}


{% block content %}
<h3>{{ question.title }}</h3>

<div class="question-wrapper">

    <div class='question-container'>
        <p class='question-author'>Asked by {{ question.author }}</p>
        <p class='question-body'>{{ question.body }}</p>
    </div>

    {% if request.user.is_authenticated and request.user == question.author %}
        <p>
            <a href="{% url 'questions_delete' pk=question.pk %}" style="color:red;">Remove your question</a>
        </p>
    {% endif %}

    <hr>

    <div class="answers-container">
        {% if request.user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="submit your answer">
        </form>
        {% endif %}

        {% for answer in answers %}
            <hr>
            <div class='question-answer-container'>
                <p class='timestamp'>Answer added on ({{ answer.timestamp }}): <pre>{{ answer.body }}</pre>
                <p>
                    <button onclick="sendFavorite(this, '{% url 'add_answer_favorite' pk=answer.pk %}')">{{ answer.numfavorites }} favorites</button> 
                    <button onclick="markAsCorrect(this, '{% url 'mark_as_correct' pk=answer.pk %}')">
                        {% if answer.correct_answer %} Correct!
                        {% else %} This answer has yet to be verified
                        {% endif %} </button>
                                        
               
                </p> 
            </div>
        {% endfor %}
          

    </div>

</div>
{% endblock %}